.d-flex{
    display: flex;
}
.p-20{
    padding: 20px;
}
.m-0{
    margin: 0;
}
.m-20{
    margin: 20px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-0{
    margin-top: 0;
}
.bg-white{
    background-color: white;
}
.p-relative{
    position: relative;
}
.txt-c{
    text-align: center;
}
.align-center{
    align-items: center;
}
.fs-14{
    font-size: 14px;
}
.c-black{
    color: black;
}
.rad-6{
    border-radius: 6px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-full{
    width: 100%;
}

.c-blue{
    color:  #0075ff;
}
.bg-blue{
    background-color:  #0075ff;
}
.bg-orange{
    background-color: #f59e0b;
}
.bg-green{
    background-color: #22c55e;
}
.bg-red{
    background-color: #f44336;
}
.c-red{
    color: #f44336;
}
.c-white{
    color: white;
}
.c-blue-alt{
    color: #0d69d5;
}
.c-orange{
    color: #f59e0b;
}
.c-green{
    color: #22c55e;
}
.c-red{
    color: #f44336;
}
.c-grey{
    color: #888;
}
.fav-border{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media(max-width: 767px){
    .txt-c-mobile{
        text-align: center;
    }
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
.space-between{
    justify-content: space-between;
}

.bg-eee{
    background-color: #eee;
}
.w-fit{
    width: fit-content;
}
.b-none{
    border: none;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.fw-bold{
    font-weight: bold;
}
.f-wrap{
    flex-wrap: wrap;
}
.fs-25{
    font-size: 25px;
}
.mb-5{
    margin-bottom: 5px;
}
.fs-13{
    font-size: 13px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.mr-10{
    margin-right: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.mt-25{
    margin-top: 25px;
}
.pl-15{
    padding-left: 15px;
}
.mr-15{
    margin-right: 15px;
}
.rad-half{
    border-radius: 50%;
}
.mt-15{
    margin-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.h-full{
    height: 100%;
}
.m-20{
    margin: 20px;
}
.o-h{
    overflow: hidden;
}
.m-20{
    margin: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 15px;
}
.border-ccc{
    border: 1px solid #ccc;
}
.border-eee{
    border: 1px solid #eee;
}
.ml-10{
    margin-left: 10px;
}
.m-15{
    margin: 15px;
}
.w-100{
    width: 100px;
}
.h-100{
    height: 100px;
}
.p-absolute{
    position: absolute;
}
.pt-10{
    padding-top: 10px;
}